* {
	padding:0px;
	margin:0px;
}

div{
	display: inherit;
}

html,body{
	min-height: 100% !important;
	height: 100%;
}

.shadow-bottom-5{
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.shadow-left-5{
	-webkit-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
     box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.25);
}

.shadow-right-5{
	-webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.25);
}

.hp-blocks{
	margin-left:10px;
	display: inline-block;
	width:200px;
	height:200px;
	background-color: red;
}

.blocks-container{
	margin: auto auto;
	width: 420px;
	height:auto;
}


.float-right{
	float:right;
}

.float-left{
	float:left;
}

div.main-header{
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 100;
}

div.main-header #logo{
	background-color: #159D1A;
	margin: 14px;
	width: 160px;
	height: 72px;
	display: inline-block;
}

div.main-header #before-login{
	display: inline-block;
}

button.regular{

}

#before-login button.sign-up{

}

div.main-header #usr-info{

}

div#body-homepage{
	margin: 0px auto;
	width: 992px;
	display: block;
	height: calc(100% - 100px);
}

.btn-prm{

}

.btn-prm:hover{

}

.btn-sec{

}

#main-container{
	width:100%;
	height:100%;
	display: block
}